/* header */
/* header_top */
header{ 
    margin: 24px auto;
    width: 1140px;
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo > figure {
    background: url(/image/logo.jpg);
    width: 191px;
    height: 31px;
    background-size: cover;
}

.header_right,
.header_btn {
    display: flex;
    align-items: center;
}

.header_right {
    gap: 24px;
}

.search_box {
    background-color: #f7f7f7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
}

.search_box > input {
    border: none;
    background: none;
    width: 210px;
}

.btn_serarch,
.header_btn > li > button {
    border: none;
    background: none;
}

.header_btn > li > button > a {
    color: #999;
}

/* header_bottom */
.header_bottom {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jewelry_goods, 
.more_goods,
.icon_box {
    display: flex;
    align-items: center;
}

.jewelry_goods > li,
.more_goods > li,
.icon_box > i {
    margin-right: 24px;
}

.jewelry_goods > li {
    font-weight: 600;
}

.jewelry_goods > li:last-child {
    color: #999;
}

.more_goods > li {
    font-weight: 600;
    font-size: 12px;
}

/* main */
/* advertise_container */
.advertise_container > a > img {
    width: 100%;
}

/* coupon_container */
.coupon_container {
    margin: 48px auto;
    width: 100%;
}

.all_coupon {
    margin: 0 auto;
    width: 900px;
}

.coupon_top {
    padding: 50px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coupon_text_box > h2 {
    font-weight: 800;
    font-size: 36px;
    margin: 24px 0;
    text-align: center;
}

.coupon_text_box > p {
    line-height: 24px;
    text-align: center;
}

.coupon_img_box > a > img {
    height: 300px;
}

.coupon_bottom {
    background-color: #fff;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.coupon_bottom > div > a > img {
    width: 450px;
}

/* pick_container */
.pick_container { 
    width: 1000px;
    margin: 0 auto;
}
.pick_container > h2 {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 800;
}

.pick_content,
.pick_goods {
    display: flex;
}

.pick_content > a > img {
    width: 576px;
    height: 576px;
}

.pick_text_box {
    margin: 24px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pick_text > p {
    color: #999;
    margin-bottom: 8px;
}

.pick_text > h3 {
    font-size: 18px;
    font-weight: 600;
}

.pick_goods {
    margin-top: 36px;
} 

.pick_goods::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
}

.goods1 > figure {
    background: url(/image/goods1.jpg);
    width: 218px;
    height: 260px;
    background-size: cover;
}

.goods2 > figure {
    background: url(/image/good2.jpg);
    width: 218px;
    height: 260px;
    background-size: cover;
}