/* header */
/* header_top */
header{ 
    margin: 24px auto;
    width: 1140px;
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo > figure {
    background: url(./image/logo.jpg);
    width: 191px;
    height: 31px;
    background-size: cover;
}

.header_right,
.header_btn {
    display: flex;
    align-items: center;
}

.header_right {
    gap: 24px;
}

.search_box {
    background-color: #f7f7f7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
}

.search_box > input {
    border: none;
    background: none;
    width: 210px;
}

.btn_serarch,
.header_btn > li > button {
    border: none;
    background: none;
}

.header_btn > li > button > a {
    color: #999;
}

/* header_bottom */
.header_bottom {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jewelry_goods, 
.more_goods,
.icon_box {
    display: flex;
    align-items: center;
}

.jewelry_goods > li,
.more_goods > li,
.icon_box > i {
    margin-right: 24px;
}

.jewelry_goods > li {
    font-weight: 600;
}

.jewelry_goods > li:last-child {
    color: #999;
}

.more_goods > li {
    font-weight: 600;
    font-size: 12px;
}

/* main */
/* advertise_container */
.advertise_container > a > img {
    width: 100%;
}

/* coupon_container */
.coupon_container1 {
    margin: 48px auto;
    width: 100%;
    background-color: #f7f7f7;
}

.coupon_top {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon_text_box {
    width: 570px;
}

.coupon_text_box > h2 {
    font-weight: 800;
    font-size: 36px;
    margin: 24px 0;
    text-align: center;
}

.coupon_text_box > p {
    line-height: 24px;
    text-align: center;
}

.coupon_img_box {
    width: 576px;
}

.coupon_img_box > a > img {
    height: 350px;
}

.coupon_container2 { 
    width: 100%;
}

.coupon_bottom {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.coupon_bottom > div > a > img {
    width: 564px;
}

/* pick_container */
.pick_container { 
    width: 1140px;
    margin: 48px auto;
}

.pick_container > h2 {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 800;
}

.pick_content,
.pick_goods {
    display: flex;
}

.pick_content > a > img {
    width: 540px;
    height: 576px;
}

.pick_text_box {
    padding: 24px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pick_text > p {
    color: #999;
    margin-bottom: 8px;
}

.pick_text > h3 {
    font-size: 20px;
    font-weight: 600;
}

.pick_goods {
    margin-top: 24px;
    position: relative;
    gap: 8px;
} 

.pick_goods::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    top: -80px;
    left: 0;
}

.goods1 > figure {
    background: url(../image/goods1.jpg);
    width: 218px;
    height: 260px;
    background-size: cover;
    margin-bottom: 8px;
}

.goods2 > figure {
    background: url(../image/good2.jpg);
    width: 218px;
    height: 260px;
    background-size: cover;
    margin-bottom: 8px;
}

.goods1,
.goods2 {
    width: 218px;
}

.goods1 > p:nth-child(3),  
.goods2 > p:nth-child(3) {
    font-size: 14px;
    color: #999;
    margin-bottom: 12px;
}

.goods1 > p:last-child,  
.goods2 > p:last-child {
    font-weight: 600;
}

/* discount_container */
.discount_container {
    width: 1140px;
    margin: 24px auto;
}

.discount_top {
    display: flex;
    align-items: center;
}

.discount_top > h2 {
    margin: 12px 12px 12px 0;
    font-size: 24px;
    font-weight: 600;
}

.for_children > figure {
    background: url(../image/discount1.jpg);
    width: 564px;
    height: 564px;
    background-size: cover;
}

.for_spring > figure {
    background: url(../image/discount2.jpg);
    width: 564px;
    height: 564px;
    background-size: cover;
}

.children_text_box,
.spring_text_box {
    margin: 12px;
}

.children_text_box > h2,
.spring_text_box > h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0;
}

.children_goods,
.spring_goods {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 12px;
}

.discount_content,
.children_goods1, 
.children_goods2, 
.spring_goods1, 
.spring_goods2,
.children_goods1_text,
.children_goods2_text,
.spring_goods1_text,
.spring_goods2_text {
    display: flex;    
    align-items: center;
}

.discount_content {
    justify-content: space-between;
}

.children_goods1, 
.children_goods2, 
.spring_goods1, 
.spring_goods2 {
    justify-content: space-between;
}

.children_goods1 > a,
.children_goods2 > a,
.spring_goods1 > a,
.spring_goods2 > a {
    background-color: #2e26260a;
    border-radius: 50%;
}

.children_goods1 > a > img, 
.children_goods2 > a > img, 
.spring_goods1 > a > img, 
.spring_goods2 > a > img {
    width: 110px;
    height: 110px;
}

.children_goods1 > button,
.children_goods2 > button,
.spring_goods1 > button,
.spring_goods2 > button {
    background: none;
    border: none;
}